<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/popup.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/9dc89b769e.js"
      crossorigin="anonymous"
    ></script>
    <title>4Hanička - Dashboard</title>
  </head>
  <body>
    <div id="popup">
      <p class="heading">Log in</p>
      <p class="desc">Please log in before continuing...</p>
      <p class="select-user">Select user:</p>
      <button id="hanicka-btn" class="select-btn">Hanička</button>
      <button id="vojtisek-btn" class="select-btn">Vojtíšek</button>
      <p id="question"></p>
      <form id="login-form" class="password-container">
        <input type="password" name="password" id="password" />
        <input type="submit" value="Send" id="submit-login" />
      </form>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
