@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/ds-digital");
:root {
  --bg-color: #212121;
  --bg-light-color: #272727;
  --bg-lighter-color: #323232;
  --card-bg-color: rgba(255, 255, 240, 0.56);
  --card-bg-active-color: rgba(255, 153, 199, 0.56);
  --compliment-alert-bg-color: rgba(212, 111, 156, 0.56);
  --submit-btn-color: rgb(29, 108, 255);
  --warning-color: rgb(255, 86, 86);
  --open-cards-color: rgb(0, 153, 255);
  --virtual-home-color: rgb(255, 153, 0);
  --compliments-color: rgb(237, 127, 176);
  --last-page-color: rgb(99, 99, 99);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: white;
  font-size: 1.2rem;
  font-family: "Jersey 10", sans-serif;
}

h1,
.desc,
h2 {
  text-align: center;
}

.status-container {
  width: 70%;
  min-width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.status-inner {
  width: 45%;
}

.hunger,
.tiredness,
.playfulness {
  position: relative;
  width: 100%;
  height: 15px;
  background: var(--bg-lighter-color);
  border-radius: 10px;
  overflow: hidden;
}

.hunger-fill,
.tiredness-fill,
.playfulness-fill {
  height: 100%;
  width: 0%; /* dynamically set via JS */
  background-color: green;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.tiredness-fill {
  background: darkorange !important;
}

.playfulness-fill {
  background: rgb(0, 145, 255) !important;
}

.hunger-text,
.tiredness-text,
.playfulness-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: -2px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  pointer-events: none;
  font-size: 0.9rem;
}

.hunger-warning,
.tiredness-warning {
  color: var(--warning-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.img-status-container {
  width: 35px;
  & img {
    width: 100%;
  }
}

h1 a {
  color: var(--last-page-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
h1 {
  font-family: "Satoshi", sans-serif;
  text-align: start;
  margin-left: 30px;
}

#food-section {
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
}

.food-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-light-color);
  border-radius: 10px;
  & img {
    width: 100px;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 15px;
  & button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--submit-btn-color);
    color: white;
    transition: scale 0.2s ease;
    &:hover {
      scale: 1.1;
    }
  }
}

#popup .img-container {
  width: 25%;
  & img {
    width: 100%;
  }
}

#popup .feeder-container div {
  margin-right: 20px;
}

.img-container#vojtik-img-container {
  width: 20%;
  margin-right: 20px;
  & img {
    border-radius: 10px;
  }
}

.feeders-container {
  margin-top: 50px;
}

#popup .hunger,
#popup .tiredness,
#popup .playfulness {
  background-color: var(--bg-color);
}

.feeder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-lighter-color);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: scale 0.2s ease;
  &:hover {
    scale: 1.05;
  }
}

#popup h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

#popup .status-container {
  margin-top: 20px;
}

.make-food-btn {
  width: 25%;
  min-width: 250px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--submit-btn-color);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: scale 0.2s ease;
  color: white;
  &:hover {
    scale: 1.1;
  }
}

.food-to-make-item {
  background-color: var(--bg-lighter-color);
  cursor: pointer;
  transition: scale 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  &:hover {
    scale: 1.05;
  }
  & img {
    width: 15%;
  }
  & .food-name {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
  }
}

.buttons-container-popup {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

@media (max-width: 650px) {
  #popup {
    width: 85% !important;
  }
  #food-section {
    min-width: 0px;
    width: 90%;
  }
  .food-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    & .button-container {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      & button {
        width: 100px;
        font-size: 1.2rem;
        border-radius: 10px;
      }
    }
    & h3 {
      font-size: 2rem;
    }
    & p {
      margin-left: 20px;
    }
  }
  .buttons-container-popup {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    & button {
      font-size: 2rem;
      border-radius: 10px;
    }
  }
  h1 {
    margin: 50px auto;
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .status-container {
    flex-direction: column;
    align-items: start;
  }
  .img-status-container {
    margin-bottom: 20px;
  }
  .feeder-info {
    max-width: 75%;
  }
  .feeder-container {
    & .img-container {
      min-width: 100px;
    }
  }
  .img-container#vojtik-img-container {
    min-width: 100px;
    width: 15%;
  }
  .status-inner {
    margin-bottom: 20px;
  }
  body > .status-container {
    align-items: center;
    min-width: 0px;
    width: 100%;
    & .status-inner {
      width: 90%;
      margin-bottom: 5px;
    }
  }
}

.credit-card,
.terminal {
  max-width: 250px;
  border: 2px solid red;
  & img {
    width: 100%;
  }
}

.space {
  width: 100%;
  height: 100px;
}

.credit-card {
  max-width: 100px !important;
}

#minigame-container {
  position: relative;
}
.credit-card {
  position: absolute;
}

#minigame-container {
  &.redbull {
    position: absolute;
    right: 10%;
    width: 100px;
    max-width: 20%;
    & img {
      width: 100%;
    }
  }
  /* PIZZA MINIGAME */
  &.pizza-minigame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & img {
      width: 100%;
    }
    & .pizza {
      width: 50%;
    }
    & .toping {
      width: 100px;
      max-width: 20%;
    }
  }
  & .button-container {
    margin-top: 20px;
  }
  /* TWISTER MINIGAME */
  &.twister-minigame {
    .head {
      rotate: -120deg;
      width: 200px;
      max-width: 40%;
      & img {
        width: 100%;
      }
      .twister {
        margin-top: 100px;
      }
    }
  }
  /* PASTA MINIGAME */
  &.pasta-minigame {
    background-color: var(--bg-lighter-color);
    border-radius: 15px;
    & .timer-display {
      font-family: "DS-Digital", sans-serif;
      background-color: #3a3a3a;
      position: relative;
      margin: 0 auto;
      width: 70px;
      font-size: 3rem;
      & span {
        display: block;
        width: 70px;
        text-align: right;
      }
      & .shadow-clock {
        opacity: 0.05;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    & .change-btns-container {
      display: flex;
      justify-content: center;
      & div {
        width: 25%;
        min-width: 50px;
      }
    }
  }
  /* SOUP MINIGAME */
  &.soup-minigame {
    & .soup {
      width: 300px;
      max-width: 90%;
    }
  }
}

.alert {
  color: red;
}
