<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../food/style.css" />
    <link rel="stylesheet" href="/popup.css" />
    <link rel="stylesheet" href="/footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/9dc89b769e.js"
      crossorigin="anonymous"
    ></script>
    <title>4Hanička - Virtual Home - Pets</title>
  </head>
  <body>
    <nav></nav>
    <header>
      <h1><a href="/virtual-home">Virtual Home/</a>Pets</h1>
    </header>
    <h2>Your pets :</h2>
    <div class="pets-container"></div>
    <div id="popup-overlay"></div>
    <div id="popup">
      <div class="img-container">
        <img src="" alt="popup img" />
      </div>
      <p class="heading"></p>
    </div>
    <footer></footer>
    <script src="script.js"></script>
    <script src="/footer.js"></script>
  </body>
</html>
