<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/popup.css" />
    <link rel="stylesheet" href="/footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/9dc89b769e.js"
      crossorigin="anonymous"
    ></script>
    <title>4Hanička - Virtual Home - Family</title>
  </head>
  <body>
    <footer></footer>
    <script src="/script.js"></script>
    <script src="/footer.js"></script>
  </body>
</html>
